<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 뷰포트 : 해당 모바일 기기의 물리적인 화면 폭을 웹화면이 인식할 수 있도록 함 -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge; chrome=1" />
    <!-- IE=Edge: 모든 IE 브라우저에 호환성보기를 무시해줍니다.(or IE=9; IE=8; IE=7) -->
    <!-- chrome=1: Chromeframe을 사용하는 유저에게 렌더링합니다. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- https://nm817.tistory.com/38 -->
    <!-- vendor prefix : css3 기능은 웹표준이 아니었다.  -->
    <!-- 구식 브라우저에 각 브라우저별로 새로운 기능을 제대로 구현될 수 있도록 변환효과를 제공하는 스타일 시트  -->
    <!-- IE or Edge	-ms-
    Chrome	-webkit-
    Firefox	-moz-
    Safari	-webkit-
    Opera	-o-
    iOS Safari	-webkit-
    Android Browser	-webkit-
    Chrome for Android	-webkit-

    .className{
    -webkit-border-radius: 10px; /* safari, chrome */	
    -moz-border-radius:10px; /* firefox */
    -o-border-radius:10px; /* opera */
    -ms-border-radius:10px; /* IE */
    border-radius:10px; /* default css */
    }

    아님 라이브러리 다운로드 하면 위와 같은 벤더 프리픽스 없이 모든 css 사용할 수 있다.
     -->
    
    <script type="text/javascript" src="js/prefixfree.min.js"></script>
    <title>ex1-step1</title>
</head>
<body>
    
</body>
</html>